extends _template
block body
  .paralax-container
    section.homepage.fixed.pin.z-0
      .homepage__grid
        .homepage__grid--cell.flex.items-center.justify-end
          img(src='images/logo-a.png')
        .homepage__grid--cell.flex.items-center
          h1 Design 
    section.main-menu
      h1 Helooooo
      h1 Helooooo
      h1 Helooooo
      h1 Helooooo
      h1 Helooooo
      h1 Helooooo 
